html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: Bevan, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: block;
  margin: 0;
  padding: .6em;
  background-color: #79756f;
  border-top: solid #595652 3px;
  border-bottom: solid #595652 3px;
}

a {
  text-decoration: none;
  color: white;
  padding: .5em .75em;
  background-color: #713837;
  border-radius: 10px;
  display: inline-block;
}

.header {
  display: block;
  margin: 0;
  color: #79756f;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  font-family: Bevan, serif;
}

nav {
  text-align: center;
  display: block;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: sans-serif;
}

nav a:hover {
  background-color: #f33;
  color: #fff;
  text-decoration: none;
}

header ul {
  color: white;
  padding: 0;
  margin: 0;
}

.planets {
  display: inline-block;
  text-align: center;
}

body ul li {
  color: white;
}
